<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Fetch Lessons</title>
        <!-- Load the Vue.js as a JavaScript library -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="index.css">
    </head>

<body>
    <div id="app">
        <header id="hd">
            <h1>{{Sitename}}</h1>          
        </header>
      
        <div id="fr">           
            <div id="kh">
                <button id="ck" v-if="checked()" v-on:click="showCheckout"> 
                {{ cartItemCount}} in<span class="fas fa-cart-plus"></span> 
                Cart</button> 
                <button disabled="disabled" 
                v-else id="hk"><span class="fas fa-cart-plus"></span>
                Cart</button>
                </div>
           </div>
          
          
           <div v-if='showLesson'>
               <div  id="real">
                   <div id="real1">
            <div v-for="im in images" class="lessonlist1">
                <img v-bind:src="im.Image" alt="" width="60px" height="60px">
               </div>
            </div>
            <div id="real2">
        <div v-for="lesson in lessons" class="lessonlist">
            <div id="sub">
                <h3>Subject: {{ lesson.topic}} </h3>
                <em>Location: {{ lesson.location }}</em><br><br>
                <em>Price: {{ lesson.price }} </em>
                <em><h3>Spaces: {{ lesson.space }} </h3></em>
                <button id="adc" v-on:click='addToCart'
                >Add To Cart</button>
                </div><br><br><br>
            </div>
</div>
</div>
</div>


<div v-else>
    <div class="chr"> 
    <h1> Cart List</h1>
    <p><h2>{{cartItemCount}} items added to the cart</h2></p>
    </div>
    <button class="open-button" onclick="openForm()">Check out</button>
    <div class="form-popup" id="myForm">
       <form action="/orders" method="POST" class="form-container" >
     
         <label for="name"><b>Name</b></label>
         <input id="fname" type="text" placeholder="Enter Name" name="name" >
     
         <label for="ph"><b>Phone</b></label>
         <input id="phone" type="tel" placeholder="Enter Phone" name="phone number" >

         <label for="name"><b>Lesson ID</b></label>
         <input id="fname" type="text" placeholder="Enter Lesson ID" name="lesson ID" >

         <label for="name"><b>Number of space</b></label>
         <input id="fname" type="text" placeholder="Enter Name" name="number of space" >
         <div>
           <button type="submit" class="btn">Check out</button>
           
         </div>
         
         <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
       </form>
     </div>
</div>

</div>

   
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                lessons: '',
                images: '',
                Sitename: 'After School Lessons',
                cart: [],
                showLesson: true, 
                input1: '',
                input2: '',
                input3: '',
            },
            mounted:function(){
                this.displayData() //this method will execute at pageload
            },

            methods: {
                addToCart(){
           this.cart.push(this.lessons.id);
        },

        showCheckout() {
            this.showLesson = this.showLesson ? false : true;
        },
 
        checked(){
            if(this.cartItemCount > 0 ){
            return true;
            }else{

                  return false;
                  }
        },

        valid() {
            var fname = document.getElementById('fname').value;
            var email = document.getElementById('email').value;
            var phone = document.getElementById('phone').value;
        
            var nameRGEX = /^[A-Za-z]+[\s][A-Za-z]+$/;
            var emailRGEX = /^[\w @\w\.com\s]+$/;
            var phoneRGEX = /^[0-9]{1,3}[\s][0-9]{3}[\s][0-9]{3}[\s][0-9]{4,6}$/;
        
            var nameRes = nameRGEX.test(fname);
            var emailRes = emailRGEX.test(email);
            var phoneRes = phoneRGEX.test(phone);
            
            if(nameRes == false) {
                alert('Please enter a valid name');
                return false;
            }
            if(emailRes == false) {
                alert('Please enter a valid email');
                return false;
            }
            if(phoneRes == false) {
                alert('Please enter a valid Phone number');
                return false;
            }else{
                alert('Your order has been confirmed');
            }
            return true;
          },
          
                displayData() {
                    fetch('https://webstorehero.herokuapp.com/collection/Lessons').then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    app.lessons = json
                                }
                            )
                        }
                    ),

                    fetch('https://webstorehero.herokuapp.com/Images').then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    app.images = json
                                }
                            )
                        }
                    )
                },

               
            },

            computed: {
                cartItemCount() {
                return this.cart.length || '';
         },

         val(){
            if(this.input1 != '' && this.input3 != ''){
            return true;
            }else{
                      return false;
                  }
                },
            }

        })
        function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
    </script>
</body>

</html>